/* style.css */

* { top:0; left:0; margin:0; padding: 0; font-family: "Open Sans", Helvetica, Arial, sans-serif; font-weight: normal; }

html, body { height: 100%; background:rgb(220,220,220); }

h1 {font-size: 20px; margin-bottom:20px; }

.context {
  margin:100px;
}
